*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body
{
  background-image:url('./weatherbg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  height:100vh;
}
.container
{

    display:flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    padding: 40px;
}
.inputs
{
    padding: 2rem 0 2rem 0;
    text-align:center;
    justify-content:center;
    border-radius: 20px ;
    background:rgb(224,190,190);
    height:150px;
    border: black solid 2px;
}
.inputs input[type="text"]
{
    height:4rem;
    width:20rem;
    background:#c53131;
    font-weight:bold;
    font-size:15px;
    padding:10px;
    border:none;
    letter-spacing: 5px;
    background-color:transparent;
    border:2px solid #473939;
    border-radius:3px;
    margin-right:4px;
}
.inputs input[type="submit"]
{
    height:3rem;
    width:6rem;
    background:#2780bf;
    font-weight:bold;
    color:white;
    font-size: 1rem;
    margin-top:20px;
    border:none;
    border-radius:4px;
}
.inputs input[type="submit"]:hover
{
    background:#3ca474;
    cursor:pointer;
}
.display
{
    text-align:center;
    width:520px;
    color:#3ca474;
}
.wrapper
{
   margin:0 9rem;
   background-color: rgb(129, 163, 226);
   height: 45vh;
   margin: 50px auto;
   border-radius: 20px;
   border:#473939 solid 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper h2
{
     padding: 15px 0;
     text-align:center;
     border-radius: 20px 20px 0 0;
     background:#000000;
     color:white;
}
.wrapper p
{
    margin:20px 50px;
    padding-top: 20px;
    margin-right: 20px;
    text-align:center;
    color:#04214c;
    font-size:23px;
    font-style: italic;
}
.wrapper h2 span
{
    font-size:26px;
    color:#2da4b6;
}
.wrapper span p
{
    font-size:25px;
    color:brown;
}








